body {
  padding: 0;
  margin: 0;

  font-family: Poppins;
  background-color: #181513;
  color: #eee;
  font-size: 13px;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

nav {
  position: relative;
  padding: 0;
  margin: 0;
  height: 50px;
  background-color: rgb(42, 37, 33);

  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}

nav ul {
  position: relative;
  flex: 1;
  padding: 0 40px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: 14px;
  border-radius: 4px;
}

nav ul li:hover {
  transition: 0.3s;
  background-color: #181513;
}

ul li {
  position: relative;
  padding: 10px 0px;
}

ul li a {
  color: #fff;
}

ul li {
  color: #fff;
}

ul li:hover {
  cursor: pointer;
}

.header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

/* carousel*/

.carousel {
  width: 100vw;
  height: 60vh;
  overflow: hidden;

  position: relative;
}

.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 10%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 50px 10px #0004;
}

.carousel .list .item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
  font-weight: bold;
  font-size: 4.5em;
  line-height: 1.3em;
}

.carousel .list .item .content .topic {
  color: aquamarine;
}

.carousel .list .item .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel .list .item .content button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}

.carousel .list .item .content button:nth-child(2) {
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.carousel .list .item:nth-child(1) .title {
  animation-delay: 1.2s;
}

.carousel .list .item:nth-child(1) .topic {
  animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .des {
  animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1) .buttons {
  animation-delay: 1.8s;
}

ul li {
  list-style: none;
}

.f-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul a {
  text-decoration: none;
  color: #d9d9da;
}

h4 {
  color: #ffc76c;
}

.container {
  width: 1140px;
  max-width: 80%;
}

h5 {
  color: aquamarine;
}

.icon {
  color: #ffc76c;
}
.bodas-carousel .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  margin: 0 10px;
  padding: 20px;
  box-sizing: border-box;
}

.bodas-carousel .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.slick-slide {
  padding: 10px;
}

.bodas-carousel .card {
  height: 100%; /* Establece una altura fija para todas las tarjetas */
  display: flex;
  flex-direction: column;
}

.bodas-carousel .card-body {
  flex-grow: 1; /* Permite que el contenido crezca para llenar el espacio disponible */
}

.card {
  background-color: #181513 !important;
  padding: 20px;
  border: none;
}
.slick-custom-arrow::before {
  color: #ffffff !important;
}

.card-text {
  color: white;
}

.bi-circle-half {
  color: aquamarine;
  margin-right: 8px;
  font-size: 12px;
}
